/**
  * This block is  for common purpose codes
*/

/**
Reset and commons
*/
body,
ul,
figure,
h4,
h3,
h5 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  color: #000;
  font-family: sans-serif, Arial, Helvetica;
}

.deals,
.category {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2em;
}

li,
ul {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.dark {
  color: #333;
}

.white {
  color: #fff;
}

.red {
  color: #f00;
}

.ml-half {
  margin-left: 0.5em;
}

.mb-half {
  margin-bottom: 0.5em;
}

.mx-half {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.m-1 {
  margin: 1;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-x-center {
  justify-content: center;
}

.flex-x-start {
  justify-content: flex-start;
}

.flex-x-between {
  justify-content: space-between;
}

.flex-y-center {
  align-items: center;
}

.flex-y-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

/**
* News grid
*/

.card {
  margin: 1em;
}

.popular-header {
  background-image: url("https://via.placeholder.com/368x276.jpg");
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 0;
  padding-top: 70%;
  width: 100%;
}

.image-gradient {
  background: transparent url(../img/image-gradient.png) no-repeat;
  background-size: auto;
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.card h5 {
  margin-bottom: 6px;
  font-family: 'Ropa Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.popular-header header {
  z-index: 3;
  padding: 1em;
}

.popular-author a,
.popular-author time,
.popular-author li {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.popular-author li {
  display: inline;
}

.popular-author li:first-child::after {
  content: "\B7";
  margin: 0 4px;
}

.popular-title {
  margin-bottom: 6px;
}

.latest > a {
  background-image: url("https://via.placeholder.com/993x517.png");
  flex: 0 0 96px;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 137px;
}

.latest-headline {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
}

.latest,
.latest a {
  color: #f42;
}

.latest {
  background-color: rgba(255, 68, 34, 0.06);
  padding: 0.5em 0 0 1em;
  margin: 3px 0;
}

.news-list {
  padding: 0 1em;
  color: red;
}

.news-list a {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.news-list li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.col-3 {
  width: 33.333%;
}

.black-nav a {
  text-decoration: none;
  color: white;
}

/**
Latest deals section
*/

.deals-header a,
.card > h2 > a {
  color: #f42;
}

.deals-header h2 > a::after,
.card > h2 > a::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 2px;
  width: 16px;
}

.col {
  width: 25%;
}

.product {
  max-width: 100%;
  height: max-content;
  margin: 0.5em;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper img {
  max-width: 100%;
}

.deal-discount {
  position: absolute;
  right: -38px;
  transform: rotate(45deg);
  top: -14px;
  background-color: #ffcc13;
  height: 4em;
  width: 7em;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.1em;
  font-weight: 600;
}

.price {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  padding-top: 4px;
}

.price-old {
  text-decoration: line-through;
}

.price-new {
  color: #555;
  font-size: 14px;
}

/**
END of Latest deals section
*/

/**
* Footer start
*/

.footer img {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}

.footer ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  width: 16px;
  height: 16px;
}

.icon-facebook-light {
  background-image: url(../img/icon_facebook_light.svg);
}

.icon-mail-light {
  background-image: url(../img/icon_mail_light.svg);
}

.icon-twitter-light {
  background-image: url(../img/icon_twitter_light.svg);
}

.icon-youtube-light {
  background-image: url(../img/icon_youtube_light.svg);
}

.icon-pinterest-light {
  background-image: url(../img/icon_pinterest_light.svg);
}

.icon-instagram-light {
  background-image: url(../img/icon_instagram_light.svg);
}

.icon-rss-light {
  background-image: url(../img/icon_rss_light.svg);
}

.footer-links {
  background-color: #131313;
  padding: 2.2em 1.5em 1.5em;
}

.footer,
.footer-links-menu li,
.footer-links-menu li a {
  color: #aaa;
}

.footer-links-menu li a:hover {
  color: #fff;
}

.footer li {
  display: inline;
  padding: 0.5em;
}

.white-nav li {
  padding: 0.1rem 0.5rem 0.1rem;
  height: 0.5rem;
  margin: 0;
}

.footer-links-social li {
  display: inline;
  padding: 0.5em;
  background: #333;
  border-radius: 50%;
  border: 2px solid #333;
  margin: 0 0.2em;
}

.black-nav li {
  padding: 0.1rem 0.5rem 0.1rem;
  height: 0.5rem;
  margin: 0;
}

.footer-links-social li:hover {
  background-color: #000;
}

.footer-links-menu {
  font-family: 'Ropa Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 13px;
  margin: 1.5em 0 0.5em;
}

.footer-legal {
  background-color: #000;
  padding: 2.7em 2.5em;
  font-size: 14px;
}

/**
  * This block is  for common purpose codes
*/

.yellow-nav p {
  margin: 0 0 0 3.5rem;
}

.grid {
  display: grid;
}

.dark-orange {
  background-color: #f42;
}

.light-orange {
  background-color: #ffebe8;
}

.main-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.black-nav {
  display: flex;
  width: 100%;
  height: 2rem;
  background: black;
  flex-direction: row;
}

.black-nav ul {
  width: 50%;
  height: 1rem;
  list-style: none;
  margin: 0.5rem;
}

.second {
  justify-content: flex-end;
}

.white-nav {
  background-color: #fafafa;
  flex-direction: row;
  width: 100%;
}

.white-nav ul {
  width: 80%;
  list-style: none;
  flex-wrap: nowrap;
}

.white-nav-mobile {
  flex-direction: row;
  width: 20%;
}

.yellow-nav {
  width: 100%;
  background-color: yellow;
}

.cover {
  grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
  margin-left: 1.5rem;
}

.main-article {
  grid-row: 1/-1;
}

.second-article {
  grid-row: 1/-1;
}

.latest-news,
.latest-funding {
  flex-direction: column;
  align-items: center;
}

.latest-news h2,
.latest-funding h2 {
  display: flex;
  justify-content: flex-start;
  width: 64%;
}

.news-content {
  width: 64%;
  flex-direction: row;
  flex-wrap: wrap;
}

.news1 {
  flex-direction: column;
  width: min-content;
  text-align: justify;
  padding: 1rem;
}

.text {
  flex-direction: column;
}

.latest-funding-container {
  flex-direction: row;
  width: 64%;
  justify-content: space-between;
}

.logo {
  position: absolute;
  margin-top: 2rem;
}

.funding-name {
  height: 2.5rem;
  margin-bottom: 0;
  justify-content: center;
}

.funding-info {
  margin: 0;
  width: 15rem;
  height: 4rem;
  justify-content: center;
}

.icons-text {
  flex-direction: column;
  height: auto;
  width: 15rem;
  margin: 0;
}

.icons-text p {
  border-top: 1px solid red;
}

.icons-text ul {
  width: 15rem;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

span {
  color: #3f4736;
}

.top-news-banner {
  margin: 5.3em 1em 0.5em;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 1em;
}

.big-news {
  grid-row: span 2;
}

.top-news-banner img {
  height: 100%;
  width: 100%;
}
