@media screen and (min-width: 215px) and (max-width: 767px) {
  /**
  * This block is specifically for mobile only codes
  */

  /**
  * Latest News
  */

  .col-3 {
    width: 100%;
  }

  /**
  * Latest deals
  */

  .deals,
  .category {
    width: 100%;
  }

  .col {
    width: 100%;
  }

  .product {
    display: grid;
    grid-template: repeat(2, 1fr) / 25% auto;
    column-gap: 1em;
  }

  .product a {
    font-size: 90%;
  }

  .product figure {
    grid-row: span 2;
  }

  .deal-discount {
    display: none;
  }

  /**
   * END of latest deals
  /**
  * footer
  */
  .footer-legal {
    flex-direction: column;
  }

  .footer li {
    padding: 0.2em;
  }
}
