@media screen and (min-width: 1024px) and (max-width: 1366px) {
  /**
    * This block is specifically for tablet only codes
  */
.menu-icon,
.logo-mobile {
  display: none;
}
.white-nav-mobile {
  justify-content: flex-end;
}

.cover {

}

.latest-news,
.latest-funding {
  width: 100%;
  align-items: flex-start;
  margin-left: 1rem;
}
.latest-funding-container {
  width: 100%;
  justify-content:space-between;
}

.news-content {
  width: 100%;
}

.news1 {
  width: 13rem;
}














  }
